Qu1
Jupyter Notebook and Python files are tools used that are used by data analysts for coding. 
A Jupyter Notebook is an interactive document, it allows the user to write code and run the code, it can also show visualisations e.g. graphs and images. Jupyter notebooks are organised into cells throughout the notebook. When using the notebook the user can run a single cell or the entire notebook – this makes it easier to troubleshoot different parts of the code. 
A Python file on the other hand, is a plain file with a .py extension that contains Python code. With python file the code is written and ran from start to finish. Python files are better for writing code that performs tasks such as data cleaning. Python code can also be integrated into larger systems such as API’s, web development and data processing.
In conclusion, both Jupyter Notebooks and Python files have their advantages and disadvantages, depending on the task at hand. Jupyter Notebooks are great for data analysis and exploration, as they allow for quick iteration and visualization of data. However, they can become difficult to manage for larger projects. Python files are great for larger projects and collaboration, but they are not as interactive as Jupyter Notebooks. Data analysts and scientists should choose the tool that best suits their needs based on the specific requirements of their project.

Qu2 
In Pandas, a data frame is a 2d labelled data structure with columns of potentially different types. It is like a table in a relational database or a spreadsheet. However, a Series is a 1D labelled array capable of holding any data type.

In [2]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave'],
        'Age': [25, 30, 35, 40],
        'Country': ['USA', 'Canada', 'Australia', 'UK']}

df = pd.DataFrame(data)
print(df)

      Name  Age    Country
0    Alice   25        USA
1      Bob   30     Canada
2  Charlie   35  Australia
3     Dave   40         UK

In [ ]:
import pandas as pd

data = [25, 30, 35, 40]
series = pd.Series(data)
print(series)

Qu3 :
Rectangular data, also known as tabular data, refers to data that is organized in a table-like structure, where each row represents an observation and each column represents a variable or feature of that observation. In a rectangular dataset, each row has the same number of columns and each column has a consistent data type. Non-rectangular data is typically not organized in a table-like structure and may have varying numbers of rows and columns, making it difficult to represent in a traditional tabular format. Examples of non-rectangular data include graphs and social network data.

Sources : https://www.statistics.com/03-01-2019-rectangular-data/#:~:text=Rectangular%20data%20are%20the%20staple,is%20a%20case%20or%20record.
https://towardsdatascience.com/types-of-structured-data-every-data-science-enthusiast-should-know-a656b95afbe2
https://lloydtabb.substack.com/p/data-is-rectangular-and-other-limiting

Qu4 :
a. Figures can be of use to data scientists in identifying patterns in the data and highlighting important parts of a dataset. For example:
- Line graphs can show trends in data over time.
- Scatter plots can show the relationship between two variables, such as height and weight, and help identify outliers or clusters.
- Heatmaps can show the distribution of data over two dimensions, such varying parameters and identifying patterns.
b. Figures can also be used to tell a story and create business presentations. For example:

-	Bar charts or pie charts can be used to present results of surveys.

-	Infographics can be used to present complex information in a simplified and engaging way.

-	Interactive dashboards can be used to allow users to explore data on their own so they gain a better understanding of what the data is showing them e.g. sliders for different parameters.

Qu 5:

In [3]:
import pandas as pd
titanic = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')
print(titanic.shape)

(891, 15)

In [4]:
print(titanic.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
print(titanic.describe(include=['O']))

         sex embarked  class  who deck  embark_town alive
count    891      889    891  891  203          889   891
unique     2        3      3    3    7            3     2
top     male        S  Third  man    C  Southampton    no
freq     577      644    491  537   59          644   549

In [ ]:
print(titanic.isnull())

In [6]:
# Delete rows with missing Age values
titanic = titanic.dropna(subset=['age'])

# Create a new column 'age_group'
titanic['age_group'] = pd.cut(titanic['age'], bins=[0, 10, 20, 30, 40, 50, 60, 70, 80, 90], labels=['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-89'])

ValueError: Bin labels must be one fewer than the number of bin edges

In [7]:
# Group passengers by age_group, Sex, and Pclass, and count the number of passengers in each group
passengers_by_age_sex_class = titanic.groupby(['age_group', 'Sex', 'Pclass']).size().reset_index(name='passenger_count')

# Print the result
print(passengers_by_age_sex_class)

KeyError: 'age_group'